* {
    -fx-font-family: "Arial";
    -fx-font-size: 12px
}

.menu-button {
    -fx-background-color: #92BCEA;
    -fx-background-radius: 10px;
    -fx-background-insets: 0; 
}
.menu-button:hover {
    -fx-background-color: #aecdee;
}

.toolbar-button {
    -fx-background-color: #282828;
    -fx-background-radius: 0px;
    -fx-background-insets: 0; 
}
.toolbar-button:hover {
    -fx-background-color: #3f3f3f;
}

.game-button {
    -fx-background-color: #b8b8b8;
    -fx-background-radius: 10px;
    -fx-background-insets: 0; 
}
.game-button:hover {
    -fx-background-color: #e6e6e6;
}
